
@font-face {
    font-family: 'Poppins-Medium.ttf';
    src: url('./fonts/Poppins-Medium.ttf');
  }

body {
    font-family: "Poppins-Medium.ttf";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #D1D3F8

}

.keyboard {
    display: flex;
    position: relative;
    border: 2px solid #7C7C7C;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
}

.key {
    width: 60px;
    height: 200px;
    border: 2px solid #7C7C7C;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease;
}

.key:last-child {
    border-right: 2px solid #fff;
}

.key:active {
    background-color: #ddd;
}

.black-key {
    width: 40px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.black-key:active {
    background-color: #fff;
}

.key-container {
    position: relative;
}

.key-container:nth-child(2) .black-key,
.key-container:nth-child(4) .black-key,
.key-container:nth-child(7) .black-key,
.key-container:nth-child(9) .black-key,
.key-container:nth-child(11) .black-key {
    display: block;
}

.black-key {
    display: none;
}
